header {
    margin: 0;
    padding: 40px 20px;
    width: 100%;
    height: 96px;
    /* 位置を上部に固定 */
    position: fixed;
    top: 0;
    /* headerの子要素を整列 */
    display: flex;
    align-items: center;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.circle{
    margin: 2px auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff7043;/*背景色*/
}

a {
    text-decoration: none;
    color: #ffff;
    transition: color 0.3s;
}
.titlePages:hover{
    color : #ff7043;
}

.titleBig {
    padding: 4px;
    transition: 0.3s;
}
.titleBig:hover{
    border-radius: 4px;
    background-color : #ddd;
    color: #4b4b4b;
}

.titlePages-group {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    text-align: center;
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
}

nav {
    margin: 0 0 0 auto;
}
