* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 96px; /* Headerにbodyが隠れないようにする */

  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 背景の指定 */
  background :linear-gradient(#478ac9, #5ab4e5, white);
  background-position: center center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 背景を繰り返さない */
  background-attachment: fixed; /* 背景を固定 */
  background-size: cover; /* 表示するコンテナの大きさに基づいて背景を調整 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.contents {
  margin-left: 14%;
  margin-right: 14%;
}

h3 {
  font-size: 26px;
  color: #ff7f50;
  margin: 0;
}

.block-l {
  float: left;
  width: 250px;
}

.block-r {
}

.social-group {
  text-align: center;
}

.profile-image {
  width: 200px;
}

.social-image {
  width: 60px;
  margin: 0 30px;
}

.SCframe {
  margin-top: 30px;
  margin-bottom: 30px;
}
