.sectionContents {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: center;
}
#about.sectionContents{
    align-items: center;
}
#history.sectionContents {
    align-items: center;
}

.blcok-left {
    margin: 20px 40px;
}

.blcok-center {
    padding-right: 20px;
    margin: 20px 20px;
    border-right: solid 1.5px #fff;
}

.blcok-right {
    margin: 20px 20px;
}

.content-left {
    text-align: right;
}
.content-right {
    text-align: left;
}

#img-profile {
    width: 180px;
    margin-top: 20px;
    border-radius: 50%;
}

.skills-left {
    width: 50%;
}

.img-social {
    width: 50px;
    margin: 10px;
}

.history-left {
    width: 40%;
    padding-right: 20px;
    margin: 20px 20px;
    border-right: solid 1.5px #fff;
}

.history-right {
    width: 60%;
    margin: 20px 0;
}
