.sectionContents {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.blcok-left {
    margin: 40px;
}

.blcok-center {
    padding-right: 20px;
    margin: 40px 20px;
    border-right: solid 1.5px #fff;
}

.blcok-right {
    margin: 40px 20px;
}

.content-center {
    text-align: right;
}
.content-right {
    text-align: left;
}


#img-profile {
    width: 160px;
    margin-top: 20px;
    border-radius: 50%;
}

#profile-name {
    margin: 10px 0;
    font-size: 20px;
}

.img-social {
    width: 50px;
    margin: 10px;
}