* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 96px; /* Headerにbodyが隠れないようにする */

  /* フォントの設定 */
  font-family:  sans-serif, "Helvetica Neue", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "MS Pゴシック", Helvetica, Arial;
  font-size: 18px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 背景の設定 */
  background:linear-gradient(#478ac9, #5ab4e5, #5ab4e5, #fff);
  background-position: center center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 背景を繰り返さない */
  background-attachment: fixed; /* 背景を固定 */
  background-size: cover; /* 表示するコンテナの大きさに基づいて背景を調整 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#pageBody {
  padding: 50px 40px 600px 40px;
  text-align: center;
}
